.Navbar {
    background: grey;
    width: 100%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    padding: 10px;
    bottom: 0;
    position: fixed;
    /* box-shadow: -2px -5px 20px rgb(55, 55, 55), 0px -5px 20px #888, 8px -5px 0px #888; */
    text-align: center;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    /* color: #FFD700; */
    border-bottom: 3px solid #FFD700;
}
li {
    list-style: none;
    display: inline-block;
    margin: 0px 40px;
}