.FashionBody {
  background-color: black;
  height: 100vh;
  width: 100%;
}

.fashion-title {
  color: white;
  margin-left: 80px;
  border: 2px solid black;
  background-color: black;
  width: 100%;
  height: 50px;
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 5px 4px white;
  position: fixed;
}
/*Pic*/
.allpics, .allpics1 {
  padding-top: 40px;
}

.allpics1, .allpics2 {
  margin-left: 80px;
}

.allpics1, .allpics, .allpics2, .allpics3{
  display: block;
  width: 300px;
  height: auto;
  float: left;
}
.allpics1:hover, .allpics:hover, .allpics2:hover, .allpics3:hover{
  -webkit-box-shadow: 0 0 100px black;
    box-shadow: 0 0 100px black;
    padding-left: 5px;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 300px;
  transition: .5s ease;
}

.allpics:hover .overlay, .allpics1:hover .overlay {
  height: 50px;
  bottom: 50%;
}

.allpics2:hover .overlay, .allpics3:hover .overlay {
  height: 50px;
  bottom: 5%;
}


.text {
  white-space: nowrap;
  color: rgb(255, 255, 255);
  font-size: 18px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* iPhone screen */
@media (max-width:640px) {
  /* STYLES GO HERE */
  .allpics1, .allpics2 {
    margin-left: 0px;
  }
  .allpics:hover .overlay, .allpics1:hover .overlay {
    height: 50px;
    bottom: 50%;
  }
  .allpics2:hover .overlay, .allpics3:hover .overlay {
    height: 50px;
    bottom: 5%;
  }
}