.ShoppingCartPage {
  background-color: black;
  float: right;
  padding: 20px;
  width: 50%;
  height: 100vh;
}

.ShopTitle {
  color: white;
  text-align: center;
  background-color: black;
}

.Purchase {
  position: fixed;
  top: 90vh;
  left: 90%;
}

.item1 {
  text-align: center;
  color: black;
}

.item1 {
  text-align: center;
  color: black;
}